body {
  background-color: #ffdee6ff;
  font-family: "Arial", sans-serif;
  color: #8e2953;
  margin: 30px;
}

button {
  padding: 2vmin;
  font-size: 4vmin;
  cursor: pointer;
  background-color: #e697b8ff;
  text-align: center;
  border-style: solid;
  border-color: #8e2953;
  border-width: 1px;
  font-family: "Arial", sans-serif;
  color: #ffdee6ff;
  text-decoration: none;
  margin: 20px;
}

button:hover {
  background-color: #8e2953;
}

p {
  display: inline;
  font-size: large;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}

.container > div {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: none;
    margin-bottom: none;
}

form {
  display: block;
}

label, input {
  font-size: 4vmin;
  display: block;
}
